In [4]:
import matplotlib.pyplot as plt
%matplotlib inline

# The Pandas library

**From the Pandas documentation:**

**pandas** is everyone's favorite data analyis library providing fast, flexible, and expressive data structures designed to work with *relational* or table-like data (SQL table or Excel spreadsheet). It is a fundamental high-level building block for doing practical, real world data analysis in Python.

# Introducing the most important objects: Series and DataFrames

In [14]:
# The importing convention
import pandas as pd

## Pandas DataFrames

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects.

<img src="img/df1.jpg">

You can create a DataFrame from:

* Dict of 1D ndarrays, lists, dicts, or Series
* 2-D numpy.ndarray
* From text, CSV, Excel files or databases
* Many other ways

Here's an example where we have set the Dates column to be the index and label for the rows.

<img src="img/dataframe.png">










# Main properties, operations and manipulations

## Reading the data

** Sample data: HR Employee Attrition and Performance **
You can get it from here:

https://raw.githubusercontent.com/ryansmccoy/spreadsheets-to-dataframes/master/data/WA_Fn-UseC_-HR-Employee-Attrition.xlsx

In [15]:
file_url = "https://raw.githubusercontent.com/ryansmccoy/spreadsheets-to-dataframes/master/data/WA_Fn-UseC_-HR-Employee-Attrition.xlsx"

In [21]:
df = pd.read_excel(file_url, index_col='EmployeeNumber')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
EmployeeNumber,,,,,,,,,,,,,,,,,,,,,
1,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,2,...,1,80,0,8,0,1,6,4,0,5
2,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,3,...,4,80,1,10,3,3,10,7,1,7
4,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
5,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,4,...,3,80,0,8,3,3,8,7,3,0
7,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,1,...,4,80,1,6,3,3,2,2,2,2

## The anatomy of a DataFrame

A DataFrame consists on three parts:

1. Index
2. Columns Names (Column Index)
3. Data

The row and column labels can be accessed respectively by accessing the ``index`` and ``columns`` attributes:

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.values

## Inspecting your data

In [ ]:
df.head()

In [ ]:
df.tail()

## Selection, addition, deletion

You can treat a DataFrame like a dict of indexed Series objects. Getting, setting, and deleting columns works with the same syntax dictionary operations:

In [ ]:
# Getting one column: .head() is just to print the first 5 values
df['Age'].head()

In [ ]:
# Getting more than one column
df[['Age', 'Gender','YearsAtCompany']].head()

In [ ]:
# Adding a column
data['AgeInMonths'] = 12*data['Age']
data['AgeInMonths'].head()

In [ ]:
# Deleting a column
del data['AgeInMonths']
# the drop method can also be used
data.drop('EmployeeCount', axis=1, inplace=True)

In [ ]:
data.columns

### Slices

In [ ]:
data['BusinessTravel'][10:15]

In [ ]:
data[10:15]

### Selection by label

In [ ]:
selected_EmployeeNumbers = [15, 94, 337, 1120]

In [ ]:
data['YearsAtCompany'].loc[selected_EmployeeNumbers]

In [ ]:
data.loc[selected_EmployeeNumbers]

In [ ]:
# Getting a single value
data.loc[94,'YearsAtCompany']

It is also possible to select by position using the *iloc* method

## Answering simple questions about a dataset

The HR director asks you to answer a few descripive questions about employees, you use this dataset to answer them:

- How many employees are there by department in the dataset?
- What is the overall attrition rate?
- What is the average hourly rate?
- What is the average number of years at the company?
- Who are the 5 employees with the most number of years at the company?
- How satisfied are employees overall?

### How many employees are there by department in the dataset?

In [ ]:
data['Department'].value_counts()

### What is the overall attrition rate?

In [ ]:
data['Attrition'].value_counts()

In [ ]:
data['Attrition'].value_counts(normalize=True)

In [ ]:
attrition_rate = data['Attrition'].value_counts(normalize=True)['Yes']
attrition_rate

### What is the average hourly rate?

In [ ]:
data['HourlyRate'].mean()

### What is the average number of years at the company?

In [ ]:
data['YearsAtCompany'].describe()

### Who are the 5 employees with the most number of years at the company?

In [ ]:
data['YearsAtCompany'].sort_values(ascending=False)[:5]

In [ ]:
data['YearsAtCompany'].sort_values(ascending=False)[:5].index

### How satisfied are employees overall?

In [ ]:
data['JobSatisfaction'].head()

In [ ]:
JobSatisfaction_cat = {
    1: 'Low',
    2: 'Medium',
    3: 'High',
    4: 'Very High'
}

Transform this encodings to meaninful labels

In [ ]:
data['JobSatisfaction'] = data['JobSatisfaction'].map(JobSatisfaction_cat)
data['JobSatisfaction'].head()

In [ ]:
data['JobSatisfaction'].value_counts()

In [ ]:
100*data['JobSatisfaction'].value_counts(normalize=True)

In [ ]:
data['JobSatisfaction'].value_counts().plot(kind='bar')

Transforming data to an ordinal category

In [ ]:
data['JobSatisfaction'] = data['JobSatisfaction'].astype(dtype='category',
                               categories=['Low', 'Medium', 'High', 'Very High'],
                               ordered=True)
data['JobSatisfaction'].head()

In [ ]:
data['JobSatisfaction'].value_counts(sort=False).plot(kind='bar')

## Further questions

In [ ]:
data.columns

After taking a look at your asnwers the HR director, asks you more questions:

- Give me the list of the employees with Low level of JobSatisfaction
- Give me the list of the employees with Low level of both JobSatisfaction and PerformanceRating
- Compare the employees with Low and Very High JobSatisfaction across the following variables: Age, Department, DistanceFromHome, HourlyRate, MonthlyIncome and YearsAtCompany.

### Give me the list of the employees with Low level of JobSatisfaction

In [ ]:
data['JobSatisfaction'] == 'Low'

We can use a boolean series to index a Series or a DataFrame, this is called "Masking" or boolean indexing.

In [ ]:
data.loc[data['JobSatisfaction'] == 'Low'].index

### Give me the list of the employees with Low level of both JobSatisfaction and JobInvolment

In [ ]:
JobInvolment_cat = {
    1: 'Low',
    2: 'Medium',
    3: 'High',
    4: 'Very High'
}
data['JobInvolvement'] = data['JobInvolvement'].map(JobInvolment_cat)

In [ ]:
data.loc[(data['JobSatisfaction'] == 'Low') & (data['JobInvolvement'] == 'Low')].index.values

### Compare the employees with Low and Very High JobSatisfaction across the following variables: Age, Department, DistanceFromHome, HourlyRate, MonthlyIncome and YearsAtCompany.

**Grouping operations**: Split-Apply-Combine operation.

By **gourping** or **group by** operations we are referring to a process involving one or more of the following steps:

- **Splitting** the data into groups based on some criteria
- **Applying** a function to each group independently
- **Combining** the results into a data structure

<b>Step1 (Split): </b> The <i>groupby</i> operation <b><i>splits</b></i> the dataframe into a group of dataframes based on some criteria. Note that the grouped object is <i>not</i> a dataframe. It is a GroupBy object. It has a dictionary-like structure and is also iterable.

<img src="img/groupby1.jpg">

<b>Step 2 (Analyze):</b> Once we have a grouped object we can <b><i>apply</b></i> functions or run analysis to each group, set of groups, or the entire group.

<img src="img/groupby2.jpg">

<b>Step 3 (Combine):</b> We can also <b><i>combine</b></i> the results of the analysis into a new data structure(s).

<img src="img/groupby3.jpg">

Since we are only interested in the employees with "Low" and "Very High" JobSatisfaction levels, let's create a new DataFrame containing only those observations.

In [ ]:
subset_of_interest = data.loc[(data['JobSatisfaction'] == "Low") | (data['JobSatisfaction'] == "Very High")]
subset_of_interest.shape

Since our JobSatisfaction variable had 4 categories, this categories have stayed in the series of this new DataFrame:

In [ ]:
subset_of_interest['JobSatisfaction'].value_counts()

Let's remove those categories we won't be using:

In [ ]:
#subset_of_interest['JobSatisfaction'].cat.remove_unused_categories(inplace=True)

In [ ]:
subset_of_interest['JobSatisfaction'].value_counts()

Now we have only the employees we are interested in, we can now compare accross the variables we wanted. First let's split our new DataFrame into groups.

In [ ]:
grouped = subset_of_interest.groupby('JobSatisfaction')

In [ ]:
grouped.groups

In [ ]:
grouped.get_group('Low').head()

#### Age

In [ ]:
grouped['Age']

In [ ]:
grouped['Age'].mean()

In [ ]:
grouped['Age'].describe()

In [ ]:
grouped['Age'].describe().unstack()

#### Department

In [ ]:
grouped['Department'].value_counts().unstack()

In [ ]:
100*grouped['Department'].value_counts(normalize=True).unstack()

#### DistanceFromHome

In [ ]:
grouped['DistanceFromHome'].describe().unstack()

#### HourlyRate

In [ ]:
grouped['HourlyRate'].describe().unstack()

#### MonthlyIncome

In [ ]:
grouped['MonthlyIncome'].describe().unstack()

#### YearsAtCompany

In [ ]:
grouped['YearsAtCompany'].describe().unstack()

### Comparing the means across all numerical variables

Although we we asked for just some specific columns, to give the HR director a better picture of how these groups compare across different variables, let's create a DataFrame that contains the mean for every numeric variable in our dataset.

In [ ]:
# Getting the numerical columns
numeric_cols = subset_of_interest.select_dtypes(include=[np.number]).columns

In [ ]:
# Creating an empty DataFrame
mean_comparison_df = pd.DataFrame(columns=numeric_cols, index=['Low', 'Very High'])
mean_comparison_df

In [ ]:
grouped['Age'].mean()

In [ ]:
# Filling the DataFrame
for var in numeric_cols:
    mean_comparison_df[var] = grouped[var].mean()

In [ ]:
mean_comparison_df

In [ ]:
mean_comparison_df = mean_comparison_df.transpose()
mean_comparison_df

### Let's do a visualization

In [ ]:
mean_comparison_df.plot(kind='bar', figsize=(13,4),
                                   title="Comparison of Means");

In [ ]:
overal_means = data.mean()
normalized_mean_comparison_df = mean_comparison_df.copy()

In [ ]:
overal_means = data.mean()
normalized_mean_comparison_df['Low'] = mean_comparison_df['Low'] / overal_means
normalized_mean_comparison_df['Very High'] = mean_comparison_df['Very High'] / overal_means

In [ ]:
normalized_mean_comparison_df.plot(kind='bar', figsize=(13,4),
                                   title="Comparison of Normalized Means")
plt.legend(loc='lower left', bbox_to_anchor=(0.16, 1.0))
plt.text(x=-0.2, y = 1.2, s="JobSatisfaction:", fontdict={'size':14});