In [22]:
import matplotlib.pyplot as plt
%matplotlib inline

# The Pandas library

**From the Pandas documentation:**

**pandas** is everyone's favorite data analyis library providing fast, flexible, and expressive data structures designed to work with *relational* or table-like data (SQL table or Excel spreadsheet). It is a fundamental high-level building block for doing practical, real world data analysis in Python.

# Introducing the most important objects: Series and DataFrames

In [23]:
# The importing convention
import pandas as pd

## The Pandas DataFrames

* Think of them as Excel “Sheets”, but for Python
* They contain Columns, Rows, and Data
* They are specific to Pandas (other languages do have them)

<img src="img/dataframe.png">

## Excel Table

<img src="img/excel_table.png">


You can create a DataFrame from:

* Dict of 1D ndarrays, lists, dicts, or Series
* 2-D numpy.ndarray
* From text, CSV, Excel files or databases
* Many other ways

Here's an example where we have set the Dates column to be the index and label for the rows.


# Main properties, operations and manipulations

## Reading Excel File

filepath = r'https://raw.githubusercontent.com/ryansmccoy/spreadsheets-to-dataframes/master/data/WA_Fn-UseC_-HR-Employee-Attrition.xlsx'

In [110]:
filepath = "data\stock_data_simple.xlsx"

In [111]:
df = pd.read_excel(filepath)

## The anatomy of a DataFrame

A DataFrame consists on three parts:

1. Index
2. Columns Names (Column Index)
3. Data

The row and column labels can be accessed respectively by accessing the ``index`` and ``columns`` attributes:

In [70]:
df.columns

Index(['Symbol', 'Name', 'Sector', 'Price', 'Price Chg', 'Price % Chg',
       'Vol Rate', 'Avg Dly $ Vol (000)', 'Mkt Val (Mil), USD', 'P/E Ratio',
       'Company Description', 'Industry Group', 'ISIN', 'Major Industry',
       'Exchange, Primary Listing', 'Exchange', 'Trading Country'],
      dtype='object')

In [71]:
df.index

RangeIndex(start=0, stop=499, step=1)

In [72]:
df.values

array([['APC.DE', 'Apple (Fra)', 'Technology', ..., 'No (NASDAQ, AAPL)',
        'FRANKFURT', 'GERMANY'],
       ['APCX.DE', 'Apple (Xet)', 'Technology', ..., 'No (NASDAQ, AAPL)',
        'XETRA', 'GERMANY'],
       ['AAPL', 'Apple Inc', 'Technology', ..., 'Yes', 'NASDAQ',
        'UNITED STATES'],
       ...,
       ['FOXA', 'Twenty-First Cen Fx Cl A', 'Consumer Cyclical', ...,
        'Yes', 'NASDAQ', 'UNITED STATES'],
       ['ANZ.AU', 'Aus.And Nz.Banking Gp.', 'Financial', ..., 'Yes',
        'AUSTRALIAN', 'AUSTRALIA'],
       ['DEUT.IT', 'Deutsche Telekom (Mil)', 'Technology', ...,
        'No (XETRA, DTEX.DE)', 'MILAN', 'ITALY']], dtype=object)

## Viewing data

In [35]:
df.head()

,Symbol,Name,Sector,Price,Price Chg,Price % Chg,Vol Rate,Avg Dly $ Vol (000),"Mkt Val (Mil), USD",P/E Ratio,Company Description,Industry Sector,Industry Group,ISIN,Major Industry,Headquarters,"Exchange, Primary Listing",Exchange,Trading Country
0,APC.DE,Apple (Fra),Technology,410.00,0.00,0.000000,-100.000000,1765,497751,14.0,"APPLE INC. (APPLE) DESIGNS, MANUFACTURES AND M...",COMPUTER,Computer-Hardware/Perip,US0378331005,NaN,NaN,"No (NASDAQ, AAPL)",FRANKFURT,GERMANY
1,APCX.DE,Apple (Xet),Technology,408.50,-2.00,-0.487211,-38.011541,6159,495930,14.0,"APPLE INC. (APPLE) DESIGNS, MANUFACTURES AND M...",COMPUTER,Computer-Hardware/Perip,US0378331005,NaN,NaN,"No (NASDAQ, AAPL)",XETRA,GERMANY
2,AAPL,Apple Inc,Technology,554.25,-3.11,-0.557987,-25.368715,6099413,494697,14.0,"MANUFACTURES PERSONAL COMPUTERS, MOBILE COMMUN...",COMPUTER,Computer-Hardware/Perip,US0378331005,Computer Data Storage,"Cupertino, CA",Yes,NASDAQ,UNITED STATES
3,XONA.DE,Exxon Mobil (Fra),Energy,73.20,0.00,0.000000,-100.000000,322,435010,13.0,EXXON MOBIL CORPORATION IS A MANUFACTURER AND ...,ENERGY,Oil&Gas-Integrated,US30231G1022,NaN,NaN,"No (NYSE, XOM)",FRANKFURT,GERMANY
4,WBK,Westpac Banking Corp Adr,Financial,27.99,-0.37,-1.304654,-8.477119,3780,432467,14.0,AUSTRALIAN BANK PROVIDING BANKING/RELATED FINA...,BANKS,Banks-Foreign,US9612143019,Bank-Money Center,AUSTRALIA,Yes,NYSE,UNITED STATES

In [36]:
df.tail()

,Symbol,Name,Sector,Price,Price Chg,Price % Chg,Vol Rate,Avg Dly $ Vol (000),"Mkt Val (Mil), USD",P/E Ratio,Company Description,Industry Sector,Industry Group,ISIN,Major Industry,Headquarters,"Exchange, Primary Listing",Exchange,Trading Country
494,DTEX.DE,Deutsche Telekom (Xet),Technology,12.45,-0.195,-1.542722,4.413403,124042,75343,23.0,DEUTSCHE TELEKOM AG IS A GERMANY-BASED INTEGRA...,TELECOM,Telecom Svcs-Integrated,DE0005557508,Telecommunication Equip,NaN,Yes,XETRA,GERMANY
495,BG.GB,Bg Group,Energy,13.52,0.170,1.273885,58.304817,49949,75310,16.0,BG GROUP PLC (BG GROUP) IS A NATURAL GAS COMPA...,ENERGY,Oil&Gas-Integrated,GB0008762899,NaN,Reading,Yes,LONDON,UNITED KINGDOM
496,FOXA,Twenty-First Cen Fx Cl A,Consumer Cyclical,32.47,-0.140,-0.429316,-26.565262,354171,75153,25.0,GLOBAL MEDIA AND ENTERTAINMENT COMPANY ENGAGED...,MEDIA,Media-Diversified,US90130A1016,Media - Radio/Tv,"New York, NY",Yes,NASDAQ,UNITED STATES
497,ANZ.AU,Aus.And Nz.Banking Gp.,Financial,31.09,0.120,0.387472,-9.287592,169869,75132,13.0,AUSTRALIA AND NEW ZEALAND BANKING GROUP LIMITE...,BANKS,Banks-Money Center,AU000000ANZ3,Bank-Money Center,Melbourne,Yes,AUSTRALIAN,AUSTRALIA
498,DEUT.IT,Deutsche Telekom (Mil),Technology,12.40,-0.170,-1.352426,-42.570255,193,75071,23.0,DEUTSCHE TELEKOM AG IS A GERMANY-BASED INTEGRA...,TELECOM,Telecom Svcs-Integrated,DE0005557508,Telecommunication Equip,NaN,"No (XETRA, DTEX.DE)",MILAN,ITALY

## Describe data quick statistical summary

In [74]:
df.describe()

,Price,Price Chg,Price % Chg,Vol Rate,Avg Dly $ Vol (000),"Mkt Val (Mil), USD",P/E Ratio
count,4.990000e+02,499.000000,499.000000,486.000000,4.990000e+02,499.00000,474.000000
mean,3.937696e+03,7.238984,0.122020,23.230114,1.222698e+06,137938.56513,30.776371
std,5.928055e+04,112.630061,1.219567,426.729572,1.469997e+07,69760.05240,127.496568
min,1.500000e-01,-892.000000,-4.782609,-100.000000,0.000000e+00,75071.00000,2.000000
25%,2.645500e+01,-0.070000,-0.291533,-100.000000,3.350000e+01,88903.50000,12.000000
50%,5.466000e+01,0.000000,0.000000,-26.303047,3.030000e+02,113659.00000,16.000000
75%,1.004450e+02,0.170000,0.351560,17.051872,8.808850e+04,175293.00000,21.000000
max,1.301000e+06,2000.000000,9.458656,5900.000000,2.975491e+08,497751.00000,1414.000000

## Transpose your data

In [75]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,489,490,491,492,493,494,495,496,497,498
Symbol,APC.DE,APCX.DE,AAPL,XONA.DE,WBK,XOM,XOAX.DE,KO.PE,GOOG,GG@X.DE,...,USB,DTEA.DE,DTE.NL,DTE.RO,RIO1.DE,DTEX.DE,BG.GB,FOXA,ANZ.AU,DEUT.IT
Name,Apple (Fra),Apple (Xet),Apple Inc,Exxon Mobil (Fra),Westpac Banking Corp Adr,Exxon Mobil Corp,Exxon Mobil (Xet),Coca Cola (Lim),Google Inc,Google 'A' (Xet),...,U S Bancorp Inc,Dt.Telekom Spn.Adr.(Fra),Deutsche Telekom (Ams),Deutsche Telekom (Bse),Rio Tinto (Fra),Deutsche Telekom (Xet),Bg Group,Twenty-First Cen Fx Cl A,Aus.And Nz.Banking Gp.,Deutsche Telekom (Mil)
Sector,Technology,Technology,Technology,Energy,Financial,Energy,Energy,Consumer Staple,Technology,Technology,...,Financial,Technology,Technology,Technology,Basic Material,Technology,Energy,Consumer Cyclical,Financial,Technology
Price,410.0,408.5,554.25,73.2,27.99,98.94,72.32,90.72,1156.22,849.35,...,41.46,12.5,12.5,56.5,39.25,12.45,13.52,32.47,31.09,12.4
Price Chg,0.0,-2.0,-3.11,0.0,-0.37,0.16,-0.39,0.0,7.6,4.2,...,-0.04,0.0,-0.02,1.25,0.0,-0.195,0.17,-0.14,0.12,-0.17
Price % Chg,0.0,-0.487211,-0.557987,0.0,-1.304654,0.161976,-0.536377,0.0,0.661663,0.496953,...,-0.096385,0.0,-0.159744,2.262443,0.0,-1.542722,1.273885,-0.429316,0.387472,-1.352426
Vol Rate,-100.0,-38.011541,-25.368715,-100.0,-8.477119,-22.553492,-63.128791,NaN,5.16121,19.008264,...,1.862741,-100.0,-90.344828,-100.0,-100.0,4.413403,58.304817,-26.565262,-9.287592,-42.570255
Avg Dly $ Vol (000),1765,6159,6099413,322,3780,1201688,405,0,1838251,1028,...,323937,18,18,0,306,124042,49949,354171,169869,193
"Mkt Val (Mil), USD",497751,495930,494697,435010,432467,432220,429768,400612,386278,319639,...,75718,75679,75676,75526,75417,75343,75310,75153,75132,75071
P/E Ratio,14.0,14.0,14.0,13.0,14.0,13.0,13.0,47.0,27.0,31.0,...,14.0,24.0,23.0,22.0,NaN,23.0,16.0,25.0,13.0,23.0
Company Description,"APPLE INC. (APPLE) DESIGNS, MANUFACTURES AND M...","APPLE INC. (APPLE) DESIGNS, MANUFACTURES AND M...","MANUFACTURES PERSONAL COMPUTERS, MOBILE COMMUN...",EXXON MOBIL CORPORATION IS A MANUFACTURER AND ...,AUSTRALIAN BANK PROVIDING BANKING/RELATED FINA...,"ENGAGED IN THE EXPLORATION, PRODUCTION, TRANSP...",EXXON MOBIL CORPORATION IS A MANUFACTURER AND ...,THE COCA-COLA COMPANY IS A BEVERAGE COMPANY. T...,"PROVIDES ONLINE SEARCH, INTERNET CONTENT SERVI...",GOOGLE INC. (GOOGLE) IS A GLOBAL TECHNOLOGY CO...,...,HOLDING COMPANY FOR U.S. BANK OPERATING THROUG...,DEUTSCHE TELEKOM AG IS A GERMANY-BASED INTEGRA...,DEUTSCHE TELEKOM AG IS A GERMANY-BASED INTEGRA...,DEUTSCHE TELEKOM AG IS A GERMANY-BASED INTEGRA...,RIO TINTO PLC (RIO TINTO) IS AN INTERNATIONAL ...,DEUTSCHE TELEKOM AG IS A GERMANY-BASED INTEGRA...,BG GROUP PLC (BG GROUP) IS A NATURAL GAS COMPA...,GLOBAL MEDIA AND ENTERTAINMENT COMPANY ENGAGED...,AUSTRALIA AND NEW ZEALAND BANKING GROUP LIMITE...,DEUTSCHE TELEKOM AG IS A GERMANY-BASED INTEGRA...
Industry Group,Computer-Hardware/Perip,Computer-Hardware/Perip,Computer-Hardware/Perip,Oil&Gas-Integrated,Banks-Foreign,Oil&Gas-Integrated,Oil&Gas-Integrated,Beverages-Non-Alcoholic,Internet-Content,Internet-Content,...,Banks-Super Regional,Telecom Svcs-Integrated,Telecom Svcs-Integrated,Telecom Svcs-Integrated,Mining-Metal Ores,Telecom Svcs-Integrated,Oil&Gas-Integrated,Media-Diversified,Banks-Money Center,Telecom Svcs-Integrated
ISIN,US0378331005,US0378331005,US0378331005,US30231G1022,US9612143019,US30231G1022,US30231G1022,US1912161007,US38259P5089,US38259P5089,...,US9029733048,US2515661054,DE0005557508,DE0005557508,GB0007188757,DE0005557508,GB0008762899,US90130A1016,AU000000ANZ3,DE0005557508
Major Industry,NaN,NaN,Computer Data Storage,NaN,Bank-Money Center,Oil&Gas-Integrated,NaN,Beverage - Non-Alcoholic,Internet,NaN,...,Bank-Super Regional,Telecommunication Equip,Telecommunication Equip,Telecommunication Servce,NaN,Telecommunication Equip,NaN,Media - Radio/Tv,Bank-Money Center,Telecommunication Equip
"Exchange, Primary Listing","No (NASDAQ, AAPL)","No (NASDAQ, AAPL)",Yes,"No (NYSE, XOM)",Yes,Yes,"No (NYSE, XOM)","No (NYSE, KO)",Yes,"No (NASDAQ, GOOG)",...,Yes,"No (OTC, DTEGY)","No (XETRA, DTEX.DE)","No (XETRA, DTEX.DE)","No (LONDON, RIO.GB)",Yes,Yes,Yes,Yes,"No (XETRA, DTEX.DE)"
Exchange,FRANKFURT,XETRA,NASDAQ,FRANKFURT,NYSE,NYSE,XETRA,LIMA,NASDAQ,XETRA,...,NYSE,FRANKFURT,AMSTERDAM (AEX),BUCHAREST,FRANKFURT,XETRA,LONDON,NASDAQ,AUSTRALIAN,MILAN
Trading Country,GERMANY,GERMANY,UNITED STATES,GERMANY,UNITED STATES,UNITED STATES,GERMANY,PERU,UNITED STATES,GERMANY,...,UNITED STATES,GERMANY,NETHERLANDS,ROMANIA,GERMANY,GERMANY,UNITED KINGDOM,UNITED STATES,AUSTRALIA,ITALY

## Sort Your Data

In [46]:
df.sort_values("Mkt Val (Mil), USD", ascending=False)

,Symbol,Name,Sector,Price,Price Chg,Price % Chg,Vol Rate,Avg Dly $ Vol (000),"Mkt Val (Mil), USD",P/E Ratio,Company Description,Industry Sector,Industry Group,ISIN,Major Industry,Headquarters,"Exchange, Primary Listing",Exchange,Trading Country
0,APC.DE,Apple (Fra),Technology,410.00,0.000,0.000000,-100.000000,1765,497751,14.0,"APPLE INC. (APPLE) DESIGNS, MANUFACTURES AND M...",COMPUTER,Computer-Hardware/Perip,US0378331005,NaN,NaN,"No (NASDAQ, AAPL)",FRANKFURT,GERMANY
1,APCX.DE,Apple (Xet),Technology,408.50,-2.000,-0.487211,-38.011541,6159,495930,14.0,"APPLE INC. (APPLE) DESIGNS, MANUFACTURES AND M...",COMPUTER,Computer-Hardware/Perip,US0378331005,NaN,NaN,"No (NASDAQ, AAPL)",XETRA,GERMANY
2,AAPL,Apple Inc,Technology,554.25,-3.110,-0.557987,-25.368715,6099413,494697,14.0,"MANUFACTURES PERSONAL COMPUTERS, MOBILE COMMUN...",COMPUTER,Computer-Hardware/Perip,US0378331005,Computer Data Storage,"Cupertino, CA",Yes,NASDAQ,UNITED STATES
3,XONA.DE,Exxon Mobil (Fra),Energy,73.20,0.000,0.000000,-100.000000,322,435010,13.0,EXXON MOBIL CORPORATION IS A MANUFACTURER AND ...,ENERGY,Oil&Gas-Integrated,US30231G1022,NaN,NaN,"No (NYSE, XOM)",FRANKFURT,GERMANY
4,WBK,Westpac Banking Corp Adr,Financial,27.99,-0.370,-1.304654,-8.477119,3780,432467,14.0,AUSTRALIAN BANK PROVIDING BANKING/RELATED FINA...,BANKS,Banks-Foreign,US9612143019,Bank-Money Center,AUSTRALIA,Yes,NYSE,UNITED STATES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,DTEX.DE,Deutsche Telekom (Xet),Technology,12.45,-0.195,-1.542722,4.413403,124042,75343,23.0,DEUTSCHE TELEKOM AG IS A GERMANY-BASED INTEGRA...,TELECOM,Telecom Svcs-Integrated,DE0005557508,Telecommunication Equip,NaN,Yes,XETRA,GERMANY
495,BG.GB,Bg Group,Energy,13.52,0.170,1.273885,58.304817,49949,75310,16.0,BG GROUP PLC (BG GROUP) IS A NATURAL GAS COMPA...,ENERGY,Oil&Gas-Integrated,GB0008762899,NaN,Reading,Yes,LONDON,UNITED KINGDOM
496,FOXA,Twenty-First Cen Fx Cl A,Consumer Cyclical,32.47,-0.140,-0.429316,-26.565262,354171,75153,25.0,GLOBAL MEDIA AND ENTERTAINMENT COMPANY ENGAGED...,MEDIA,Media-Diversified,US90130A1016,Media - Radio/Tv,"New York, NY",Yes,NASDAQ,UNITED STATES
497,ANZ.AU,Aus.And Nz.Banking Gp.,Financial,31.09,0.120,0.387472,-9.287592,169869,75132,13.0,AUSTRALIA AND NEW ZEALAND BANKING GROUP LIMITE...,BANKS,Banks-Money Center,AU000000ANZ3,Bank-Money Center,Melbourne,Yes,AUSTRALIAN,AUSTRALIA
498,DEUT.IT,Deutsche Telekom (Mil),Technology,12.40,-0.170,-1.352426,-42.570255,193,75071,23.0,DEUTSCHE TELEKOM AG IS A GERMANY-BASED INTEGRA...,TELECOM,Telecom Svcs-Integrated,DE0005557508,Telecommunication Equip,NaN,"No (XETRA, DTEX.DE)",MILAN,ITALY

## Selecting Your Data

You can treat a DataFrame like a dict of indexed Series objects. Getting, setting, and deleting columns works with the same syntax dictionary operations:

In [50]:
# Getting one column: .head() is just to print the first 5 values
df['Symbol']

0       APC.DE
1      APCX.DE
2         AAPL
3      XONA.DE
4          WBK
        ...
494    DTEX.DE
495      BG.GB
496       FOXA
497     ANZ.AU
498    DEUT.IT
Name: Symbol, Length: 499, dtype: object

In [106]:
# Getting more than one column
df[['Symbol', 'Name','Sector']]

      Symbol                      Name             Sector
0     APC.DE               Apple (Fra)         Technology
1    APCX.DE               Apple (Xet)         Technology
2       AAPL                 Apple Inc         Technology
3    XONA.DE         Exxon Mobil (Fra)             Energy
4        WBK  Westpac Banking Corp Adr          Financial
..       ...                       ...                ...
494  DTEX.DE    Deutsche Telekom (Xet)         Technology
495    BG.GB                  Bg Group             Energy
496     FOXA  Twenty-First Cen Fx Cl A  Consumer Cyclical
497   ANZ.AU    Aus.And Nz.Banking Gp.          Financial
498  DEUT.IT    Deutsche Telekom (Mil)         Technology

[499 rows x 3 columns]

In [107]:
# Get rows
df[0:3]

,Symbol,Name,Sector,Price,Price Chg,Price % Chg,Vol Rate,Avg Dly $ Vol (000),"Mkt Val (Mil), USD",P/E Ratio,Company Description,Industry Group,ISIN,Major Industry,"Exchange, Primary Listing",Exchange,Trading Country
0,APC.DE,Apple (Fra),Technology,410.00,0.00,0.000000,-100.000000,1765,497751,14.0,"APPLE INC. (APPLE) DESIGNS, MANUFACTURES AND M...",Computer-Hardware/Perip,US0378331005,NaN,"No (NASDAQ, AAPL)",FRANKFURT,GERMANY
1,APCX.DE,Apple (Xet),Technology,408.50,-2.00,-0.487211,-38.011541,6159,495930,14.0,"APPLE INC. (APPLE) DESIGNS, MANUFACTURES AND M...",Computer-Hardware/Perip,US0378331005,NaN,"No (NASDAQ, AAPL)",XETRA,GERMANY
2,AAPL,Apple Inc,Technology,554.25,-3.11,-0.557987,-25.368715,6099413,494697,14.0,"MANUFACTURES PERSONAL COMPUTERS, MOBILE COMMUN...",Computer-Hardware/Perip,US0378331005,Computer Data Storage,Yes,NASDAQ,UNITED STATES

In [59]:
df['Company Description'][10:15]

10    GOOGLE INC. (GOOGLE) IS A GLOBAL TECHNOLOGY CO...
11    DEVELOPS OPERATING SYSTEMS, BUSINESS SOFTWARE,...
12    MICROSOFT CORPORATION IS ENGAGED IN DEVELOPING...
13    MICROSOFT CORPORATION IS ENGAGED IN DEVELOPING...
14    ENGAGES IN INSURANCE, FOODSERVICE OPERATIONS, ...
Name: Company Description, dtype: object

In [60]:
df[10:15]

,Symbol,Name,Sector,Price,Price Chg,Price % Chg,Vol Rate,Avg Dly $ Vol (000),"Mkt Val (Mil), USD",P/E Ratio,Company Description,Industry Group,ISIN,Major Industry,"Exchange, Primary Listing",Exchange,Trading Country
10,GGQ1.DE,Google 'A' (Fra),Technology,845.82,0.00,0.000000,-100.000000,410,318311,31.0,GOOGLE INC. (GOOGLE) IS A GLOBAL TECHNOLOGY CO...,Internet-Content,US38259P5089,NaN,"No (NASDAQ, GOOG)",FRANKFURT,GERMANY
11,MSFT,Microsoft Corp,Technology,36.89,0.13,0.353645,-4.880698,1468683,307956,13.0,"DEVELOPS OPERATING SYSTEMS, BUSINESS SOFTWARE,...",Computer Sftwr-Desktop,US5949181045,Computer-Software,Yes,NASDAQ,UNITED STATES
12,MSF.DE,Microsoft (Fra),Technology,26.99,0.00,0.000000,-100.000000,508,306463,14.0,MICROSOFT CORPORATION IS ENGAGED IN DEVELOPING...,Computer Sftwr-Desktop,US5949181045,Computer-Software,"No (NASDAQ, MSFT)",FRANKFURT,GERMANY
13,MSFX.DE,Microsoft (Xet),Technology,26.79,-0.19,-0.704225,-5.157607,568,304192,14.0,MICROSOFT CORPORATION IS ENGAGED IN DEVELOPING...,Computer Sftwr-Desktop,US5949181045,Computer-Software,"No (NASDAQ, MSFT)",XETRA,GERMANY
14,BRKB,Berkshire Hathaway Cl B,Capital Equipment,115.24,-0.61,-0.526542,-20.105867,391758,284141,20.0,"ENGAGES IN INSURANCE, FOODSERVICE OPERATIONS, ...",Diversified Operations,US0846707026,Diversified Operation,Yes,NYSE,UNITED STATES

### Selection by label

In [63]:
selected_companies = [1, 3, 4, 5]

In [64]:
df['Industry Group'].loc[selected_companies]

1    Computer-Hardware/Perip
3         Oil&Gas-Integrated
4              Banks-Foreign
5         Oil&Gas-Integrated
Name: Industry Group, dtype: object

In [65]:
df.loc[selected_companies]

,Symbol,Name,Sector,Price,Price Chg,Price % Chg,Vol Rate,Avg Dly $ Vol (000),"Mkt Val (Mil), USD",P/E Ratio,Company Description,Industry Group,ISIN,Major Industry,"Exchange, Primary Listing",Exchange,Trading Country
1,APCX.DE,Apple (Xet),Technology,408.50,-2.00,-0.487211,-38.011541,6159,495930,14.0,"APPLE INC. (APPLE) DESIGNS, MANUFACTURES AND M...",Computer-Hardware/Perip,US0378331005,NaN,"No (NASDAQ, AAPL)",XETRA,GERMANY
3,XONA.DE,Exxon Mobil (Fra),Energy,73.20,0.00,0.000000,-100.000000,322,435010,13.0,EXXON MOBIL CORPORATION IS A MANUFACTURER AND ...,Oil&Gas-Integrated,US30231G1022,NaN,"No (NYSE, XOM)",FRANKFURT,GERMANY
4,WBK,Westpac Banking Corp Adr,Financial,27.99,-0.37,-1.304654,-8.477119,3780,432467,14.0,AUSTRALIAN BANK PROVIDING BANKING/RELATED FINA...,Banks-Foreign,US9612143019,Bank-Money Center,Yes,NYSE,UNITED STATES
5,XOM,Exxon Mobil Corp,Energy,98.94,0.16,0.161976,-22.553492,1201688,432220,13.0,"ENGAGED IN THE EXPLORATION, PRODUCTION, TRANSP...",Oil&Gas-Integrated,US30231G1022,Oil&Gas-Integrated,Yes,NYSE,UNITED STATES

In [68]:
# Getting a single value
df.loc[1,'Company Description']

"APPLE INC. (APPLE) DESIGNS, MANUFACTURES AND MARKETS MOBILE COMMUNICATION AND MEDIA DEVICES, PERSONAL COMPUTERS, AND PORTABLE DIGITAL MUSIC PLAYERS, AND SELLS A VARIETY OF RELATED SOFTWARE, SERVICES, PERIPHERALS, NETWORKING SOLUTIONS, AND THIRD-PARTY DIGITAL CONTENT AND APPLICATIONS. THE COMPANY'S PRODUCTS AND SERVICES INCLUDE IPHONE, IPAD, MAC, IPOD, APPLE TV, A PORTFOLIO OF CONSUMER AND PROFESSIONAL SOFTWARE APPLICATIONS, THE IOS AND OS X OPERATING SYSTEMS, ICLOUD, AND A VARIETY OF ACCESSORY, SERVICE AND SUPPORT OFFERINGS. IN MARCH 2013, THE COMPANY ACQUIRED A SILICON VALLEY STARTUP, WIFISLAM, WHICH MAKES MAPPING APPLICATIONS FOR SMART PHONES. EFFECTIVE JULY 19, 2013, APPLE ACQUIRED LOCATIONARY INC. EFFECTIVE JULY 20, 2013, APPLE ACQUIRED HOPSTOP.COM INC. EFFECTIVE AUGUST 28, 2013, APPLE ACQUIRED ALGOTRIM AB, A MALMO-BASED DEVELOPER OF PREPACKAGED SOFTWARE. IN NOVEMBER 2013, APPLE BOUGHT PRIMESE"

It is also possible to select by position using the *iloc* method

## Answering simple questions about a dataset

### How many companies are there by Sector?

In [76]:
df['Sector'].value_counts()

Financial            116
Technology            89
Energy                75
Health Care           63
Consumer Staple       52
Capital Equipment     32
Consumer Cyclical     28
Retail                21
Basic Material        20
Transportation         3
Name: Sector, dtype: int64

### What is the average Market Capitalization?

In [80]:
df['Mkt Val (Mil), USD'].mean()

137938.5651302605

### What is the most frequest sector?

In [90]:
df['Sector'].describe()

count           499
unique           10
top       Financial
freq            116
Name: Sector, dtype: object

## Who are the 5 largest companies?

In [105]:
df.sort_values('Mkt Val (Mil), USD', ascending=False)[:5]

,Symbol,Name,Sector,Price,Price Chg,Price % Chg,Vol Rate,Avg Dly $ Vol (000),"Mkt Val (Mil), USD",P/E Ratio,Company Description,Industry Group,ISIN,Major Industry,"Exchange, Primary Listing",Exchange,Trading Country
0,APC.DE,Apple (Fra),Technology,410.00,0.00,0.000000,-100.000000,1765,497751,14.0,"APPLE INC. (APPLE) DESIGNS, MANUFACTURES AND M...",Computer-Hardware/Perip,US0378331005,NaN,"No (NASDAQ, AAPL)",FRANKFURT,GERMANY
1,APCX.DE,Apple (Xet),Technology,408.50,-2.00,-0.487211,-38.011541,6159,495930,14.0,"APPLE INC. (APPLE) DESIGNS, MANUFACTURES AND M...",Computer-Hardware/Perip,US0378331005,NaN,"No (NASDAQ, AAPL)",XETRA,GERMANY
2,AAPL,Apple Inc,Technology,554.25,-3.11,-0.557987,-25.368715,6099413,494697,14.0,"MANUFACTURES PERSONAL COMPUTERS, MOBILE COMMUN...",Computer-Hardware/Perip,US0378331005,Computer Data Storage,Yes,NASDAQ,UNITED STATES
3,XONA.DE,Exxon Mobil (Fra),Energy,73.20,0.00,0.000000,-100.000000,322,435010,13.0,EXXON MOBIL CORPORATION IS A MANUFACTURER AND ...,Oil&Gas-Integrated,US30231G1022,NaN,"No (NYSE, XOM)",FRANKFURT,GERMANY
4,WBK,Westpac Banking Corp Adr,Financial,27.99,-0.37,-1.304654,-8.477119,3780,432467,14.0,AUSTRALIAN BANK PROVIDING BANKING/RELATED FINA...,Banks-Foreign,US9612143019,Bank-Money Center,Yes,NYSE,UNITED STATES

# Boolean Indexing
Using a single column's values to select data

## Further questions

In [87]:
df.columns

Index(['Symbol', 'Name', 'Sector', 'Price', 'Price Chg', 'Price % Chg',
       'Vol Rate', 'Avg Dly $ Vol (000)', 'Mkt Val (Mil), USD', 'P/E Ratio',
       'Company Description', 'Industry Group', 'ISIN', 'Major Industry',
       'Exchange, Primary Listing', 'Exchange', 'Trading Country'],
      dtype='object')

### Give me the list of the companies in the Technology Sector

In [83]:
df['Sector'] == 'Technology'

0       True
1       True
2       True
3      False
4      False
       ...
494     True
495    False
496    False
497    False
498     True
Name: Sector, Length: 499, dtype: bool

We can use a boolean series to index a Series or a DataFrame, this is called "Masking" or boolean indexing.

In [86]:
df.loc[df['Sector'] == 'Technology']

,Symbol,Name,Sector,Price,Price Chg,Price % Chg,Vol Rate,Avg Dly $ Vol (000),"Mkt Val (Mil), USD",P/E Ratio,Company Description,Industry Group,ISIN,Major Industry,"Exchange, Primary Listing",Exchange,Trading Country
0,APC.DE,Apple (Fra),Technology,410.00,0.000,0.000000,-100.000000,1765,497751,14.0,"APPLE INC. (APPLE) DESIGNS, MANUFACTURES AND M...",Computer-Hardware/Perip,US0378331005,NaN,"No (NASDAQ, AAPL)",FRANKFURT,GERMANY
1,APCX.DE,Apple (Xet),Technology,408.50,-2.000,-0.487211,-38.011541,6159,495930,14.0,"APPLE INC. (APPLE) DESIGNS, MANUFACTURES AND M...",Computer-Hardware/Perip,US0378331005,NaN,"No (NASDAQ, AAPL)",XETRA,GERMANY
2,AAPL,Apple Inc,Technology,554.25,-3.110,-0.557987,-25.368715,6099413,494697,14.0,"MANUFACTURES PERSONAL COMPUTERS, MOBILE COMMUN...",Computer-Hardware/Perip,US0378331005,Computer Data Storage,Yes,NASDAQ,UNITED STATES
8,GOOG,Google Inc,Technology,1156.22,7.600,0.661663,5.161210,1838251,386278,27.0,"PROVIDES ONLINE SEARCH, INTERNET CONTENT SERVI...",Internet-Content,US38259P5089,Internet,Yes,NASDAQ,UNITED STATES
9,GG@X.DE,Google 'A' (Xet),Technology,849.35,4.200,0.496953,19.008264,1028,319639,31.0,GOOGLE INC. (GOOGLE) IS A GLOBAL TECHNOLOGY CO...,Internet-Content,US38259P5089,NaN,"No (NASDAQ, GOOG)",XETRA,GERMANY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,DTEA.DE,Dt.Telekom Spn.Adr.(Fra),Technology,12.50,0.000,0.000000,-100.000000,18,75679,24.0,DEUTSCHE TELEKOM AG IS A GERMANY-BASED INTEGRA...,Telecom Svcs-Integrated,US2515661054,Telecommunication Equip,"No (OTC, DTEGY)",FRANKFURT,GERMANY
491,DTE.NL,Deutsche Telekom (Ams),Technology,12.50,-0.020,-0.159744,-90.344828,18,75676,23.0,DEUTSCHE TELEKOM AG IS A GERMANY-BASED INTEGRA...,Telecom Svcs-Integrated,DE0005557508,Telecommunication Equip,"No (XETRA, DTEX.DE)",AMSTERDAM (AEX),NETHERLANDS
492,DTE.RO,Deutsche Telekom (Bse),Technology,56.50,1.250,2.262443,-100.000000,0,75526,22.0,DEUTSCHE TELEKOM AG IS A GERMANY-BASED INTEGRA...,Telecom Svcs-Integrated,DE0005557508,Telecommunication Servce,"No (XETRA, DTEX.DE)",BUCHAREST,ROMANIA
494,DTEX.DE,Deutsche Telekom (Xet),Technology,12.45,-0.195,-1.542722,4.413403,124042,75343,23.0,DEUTSCHE TELEKOM AG IS A GERMANY-BASED INTEGRA...,Telecom Svcs-Integrated,DE0005557508,Telecommunication Equip,Yes,XETRA,GERMANY
498,DEUT.IT,Deutsche Telekom (Mil),Technology,12.40,-0.170,-1.352426,-42.570255,193,75071,23.0,DEUTSCHE TELEKOM AG IS A GERMANY-BASED INTEGRA...,Telecom Svcs-Integrated,DE0005557508,Telecommunication Equip,"No (XETRA, DTEX.DE)",MILAN,ITALY

### Give me the list of the companies in the Technology Sector and United States

In [89]:
df.loc[(df['Sector'] == 'Technology') & (df['Trading Country'] == 'UNITED STATES')]

,Symbol,Name,Sector,Price,Price Chg,Price % Chg,Vol Rate,Avg Dly $ Vol (000),"Mkt Val (Mil), USD",P/E Ratio,Company Description,Industry Group,ISIN,Major Industry,"Exchange, Primary Listing",Exchange,Trading Country
2,AAPL,Apple Inc,Technology,554.25,-3.11,-0.557987,-25.368715,6099413,494697,14.0,"MANUFACTURES PERSONAL COMPUTERS, MOBILE COMMUN...",Computer-Hardware/Perip,US0378331005,Computer Data Storage,Yes,NASDAQ,UNITED STATES
8,GOOG,Google Inc,Technology,1156.22,7.60,0.661663,5.161210,1838251,386278,27.0,"PROVIDES ONLINE SEARCH, INTERNET CONTENT SERVI...",Internet-Content,US38259P5089,Internet,Yes,NASDAQ,UNITED STATES
11,MSFT,Microsoft Corp,Technology,36.89,0.13,0.353645,-4.880698,1468683,307956,13.0,"DEVELOPS OPERATING SYSTEMS, BUSINESS SOFTWARE,...",Computer Sftwr-Desktop,US5949181045,Computer-Software,Yes,NASDAQ,UNITED STATES
73,IBM,Intl Business Machines,Technology,188.76,1.02,0.543304,-1.631052,909319,204965,12.0,PROVIDES IT CONSULTING SERVICES AND COMPUTER H...,Computer-Tech Services,US4592001014,Computer-Services,Yes,NYSE,UNITED STATES
87,CHL,China Mobile Ltd Adr,Technology,50.17,-0.22,-0.436594,3.262383,50662,201693,10.0,HONG KONG-BASED PROVIDER OF DIGITAL WIRELESS V...,Telecom Svcs- Foreign,US16941M1099,Telecommunication Servce,Yes,NYSE,UNITED STATES
98,VOD,Vodafone Group Plc Adr,Technology,38.83,-0.10,-0.256871,-34.011403,297016,191470,25.0,U.K.-BASED PROVIDER OF DIGITAL WIRELESS VOICE ...,Telecom Svcs- Foreign,US92857W2098,Telecommunication Servce,Yes,NASDAQ,UNITED STATES
119,T,A T & T Inc,Technology,33.96,0.17,0.503107,-23.260207,713753,178901,14.0,"PROVIDES LOCAL EXCHANGE, LONG DISTANCE, NETWOR...",Telecom Svcs-Integrated,US00206R1023,Telecommunication Servce,Yes,NYSE,UNITED STATES
130,ORCL,Oracle Corp,Technology,38.29,-0.12,-0.312418,-28.108149,718701,172205,14.0,"DEVELOPS DATABASE, MIDDLEWARE AND BUSINESS APP...",Computer Sftwr-Database,US68389X1054,Computer-Software,Yes,NYSE,UNITED STATES
160,FB,Facebook Inc Cl A,Technology,57.19,-0.41,-0.711805,-48.250630,3840670,145274,79.0,PROVIDES A SOCIAL NETWORKING PLATFORM ENABLING...,Internet-Content,US30303M1027,Internet,Yes,NASDAQ,UNITED STATES
167,CMCSA,Comcast Corp Cl A,Technology,53.54,-0.53,-0.980210,2.945779,532114,140029,23.0,"PROVIDES VIDEO, INTERNET, PHONE, NETWORK, AND ...",Telecom Svcs-Cable/Satl,US20030N1019,Telecommunication Servce,Yes,NASDAQ,UNITED STATES
174,VZ,Verizon Communications,Technology,48.53,0.26,0.538636,26.151711,542545,138795,19.0,"PROVIDES LOCAL EXCHANGE, NETWORK ACCESS, DATA,...",Telecom Svcs-Integrated,US92343V1044,Telecommunication Servce,Yes,NYSE,UNITED STATES
179,CMCSK,Comcast Corp Cla Special,Technology,51.69,-0.37,-0.710718,11.610547,96941,135681,22.0,"PROVIDES VIDEO, INTERNET, PHONE, NETWORK, AND ...",Telecom Svcs-Cable/Satl,US20030N2009,Telecommunication Servce,Yes,NASDAQ,UNITED STATES
196,INTC,Intel Corp,Technology,26.54,-0.13,-0.487439,51.838758,823050,131930,14.0,"MANUFACTURES MICROPROCESSORS, CHIPSETS, NETWOR...",Elec-Semiconductor Mfg,US4581401001,Electronic-Semiconductor,Yes,NASDAQ,UNITED STATES
209,QCOM,Qualcomm Inc,Technology,74.72,0.21,0.281841,-0.429965,765955,126234,17.0,DESIGNS CDMA-BASED/RF/POWER MANAGEMENT ICS AND...,Elec-Semicondctor Fablss,US7475251036,Electronic-Semiconductor,Yes,NASDAQ,UNITED STATES
215,CSCO,Cisco Systems Inc,Technology,22.78,0.00,0.000000,-19.392564,1098805,121795,11.0,"MANUFACTURES SWITCHES, ROUTERS AND OTHER NETWO...",Computer-Networking,US17275R1023,Computer-Software,Yes,NASDAQ,UNITED STATES
310,SAP,S A P Ag Adr,Technology,82.81,-0.20,-0.240934,-0.564297,76494,98709,20.0,GERMAN DEVELOPER OF BUSINESS OPERATIONS MANAGE...,Computer Sftwr-Enterprse,US8030542042,Computer-Software,Yes,NYSE,UNITED STATES
342,TSM,Taiwan Semiconductor Adr,Technology,18.15,0.59,3.359908,112.541355,178871,94120,15.0,TAIWANESE MANUFACTURER OF LOGIC/MIXED-SIGNAL I...,Elec-Semiconductor Mfg,US8740391003,Electronic-Semiconductor,Yes,NYSE,UNITED STATES
455,AMOV,America Movil Sab Adr A,Technology,21.85,-0.37,-1.665166,-31.666667,133,78354,12.0,MEXICAN PROVIDER OF WIRELESS VOICE AND DATA SE...,Telecom Svcs- Foreign,US02364W2044,Telecommunication Servce,Yes,NASDAQ,UNITED STATES
483,TEF,Telefonica S A Adr,Technology,16.85,-0.05,-0.295857,-25.918459,15088,76246,15.0,"SPANISH PROVIDER OF LOCAL EXCHANGE, LONG DISTA...",Telecom Svcs- Foreign,US8793822086,Telecommunication Servce,Yes,NYSE,UNITED STATES

**Grouping operations**: Split-Apply-Combine operation.

By **gourping** or **group by** operations we are referring to a process involving one or more of the following steps:

- **Splitting** the data into groups based on some criteria
- **Applying** a function to each group independently
- **Combining** the results into a data structure


<img src="img/split_apply_combine.png">

<b>Step1 (Split): </b> The <i>groupby</i> operation <b><i>splits</b></i> the dataframe into a group of dataframes based on some criteria. Note that the grouped object is <i>not</i> a dataframe. It is a GroupBy object. It has a dictionary-like structure and is also iterable.

<b>Step 2 (Analyze):</b> Once we have a grouped object we can <b><i>apply</b></i> functions or run analysis to each group, set of groups, or the entire group.

<b>Step 3 (Combine):</b> We can also <b><i>combine</b></i> the results of the analysis into a new data structure(s).

Since we are only interested in the employees with "Low" and "Very High" JobSatisfaction levels, let's create a new DataFrame containing only those observations.

In [113]:
subset_of_interest = df.loc[(df['Sector'] == "Technology") | (df['Sector'] == "Energy")]

subset_of_interest.shape

(164, 19)

Since our JobSatisfaction variable had 4 categories, this categories have stayed in the series of this new DataFrame:

In [114]:
subset_of_interest['Sector'].value_counts()

Technology    89
Energy        75
Name: Sector, dtype: int64

Let's remove those categories we won't be using:

In [116]:
subset_of_interest['Sector'].value_counts()

Technology    89
Energy        75
Name: Sector, dtype: int64

Now we have only the employees we are interested in, we can now compare accross the variables we wanted. First let's split our new DataFrame into groups.

In [117]:
grouped = subset_of_interest.groupby('Sector')

In [118]:
grouped.groups

{'Energy': [3, 5, 6, 28, 35, 42, 43, 44, 45, 86, 97, 101, 110, 151, 152, 154, 155, 156, 157, 161, 162, 163, 164, 165, 166, 168, 169, 170, 171, 172, 173, 176, 184, 228, 229, 230, 231, 234, 319, 321, 322, 325, 348, 352, 353, 355, 362, 364, 384, 385, 386, 387, 388, 390, 396, 398, 400, 410, 418, 424, 427, 430, 433, 435, 436, 440, 441, 443, 444, 446, 451, 467, 485, 487, 495], 'Technology': [0, 1, 2, 8, 9, 10, 11, 12, 13, 24, 67, 68, 73, 75, 76, 79, 81, 85, 87, 88, 98, 99, 102, 103, 104, 105, 115, 116, 117, 119, 120, 127, 128, 130, 160, 167, 174, 179, 182, 190, 194, 195, 196, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 223, 224, 226, 227, 244, 258, 281, 283, 287, 288, 289, 290, 291, 297, 301, 310, 342, 359, 360, 455, 470, 472, 473, 478, 480, 482, 483, 486, 490, 491, 492, 494, 498]}

In [120]:
grouped.get_group('Energy').head()

,Symbol,Name,Sector,Price,Price Chg,Price % Chg,Vol Rate,Avg Dly $ Vol (000),"Mkt Val (Mil), USD",P/E Ratio,Company Description,Industry Sector,Industry Group,ISIN,Major Industry,Headquarters,"Exchange, Primary Listing",Exchange,Trading Country
3,XONA.DE,Exxon Mobil (Fra),Energy,73.20,0.00,0.000000,-100.000000,322,435010,13.0,EXXON MOBIL CORPORATION IS A MANUFACTURER AND ...,ENERGY,Oil&Gas-Integrated,US30231G1022,NaN,NaN,"No (NYSE, XOM)",FRANKFURT,GERMANY
5,XOM,Exxon Mobil Corp,Energy,98.94,0.16,0.161976,-22.553492,1201688,432220,13.0,"ENGAGED IN THE EXPLORATION, PRODUCTION, TRANSP...",ENERGY,Oil&Gas-Integrated,US30231G1022,Oil&Gas-Integrated,"Irving, TX",Yes,NYSE,UNITED STATES
6,XOAX.DE,Exxon Mobil (Xet),Energy,72.32,-0.39,-0.536377,-63.128791,405,429768,13.0,EXXON MOBIL CORPORATION IS A MANUFACTURER AND ...,ENERGY,Oil&Gas-Integrated,US30231G1022,NaN,NaN,"No (NYSE, XOM)",XETRA,GERMANY
28,CVX.BE,Chevron Cert. (Bru),Energy,87.29,0.29,0.333333,766.666667,5,256073,NaN,NaN,ENERGY,Oil&Gas-Integrated,BE0004589306,NaN,NaN,Yes,BRUSSELS,BELGIUM
35,RDSB,Royal Dutch Shell B Ads,Energy,75.42,0.35,0.466231,92.496979,68336,241329,11.0,"ENGAGED IN EXPLORATION, PRODUCTION AND REFININ...",ENERGY,Oil&Gas-Integrated,US7802591070,Oil&Gas-Integrated,NETHERLANDS,Yes,NYSE,UNITED STATES

#### Age

In [121]:
grouped['P/E Ratio']

In [122]:
grouped['P/E Ratio'].mean()

Sector
Energy        10.671233
Technology    19.068182
Name: P/E Ratio, dtype: float64

In [123]:
grouped['P/E Ratio'].describe()

            count       mean        std  min   25%   50%   75%   max
Sector
Energy       73.0  10.671233   4.160178  2.0   8.0  11.0  13.0  20.0
Technology   88.0  19.068182  11.357104  6.0  13.0  16.0  23.0  79.0

In [124]:
grouped['P/E Ratio'].describe().unstack()

       Sector
count  Energy        73.000000
       Technology    88.000000
mean   Energy        10.671233
       Technology    19.068182
std    Energy         4.160178
       Technology    11.357104
min    Energy         2.000000
       Technology     6.000000
25%    Energy         8.000000
       Technology    13.000000
50%    Energy        11.000000
       Technology    16.000000
75%    Energy        13.000000
       Technology    23.000000
max    Energy        20.000000
       Technology    79.000000
dtype: float64

#### Department

In [125]:
grouped['Industry Group'].value_counts().unstack()

Industry Group,Computer Sftwr-Database,Computer Sftwr-Desktop,Computer Sftwr-Enterprse,Computer-Hardware/Perip,Computer-Networking,Computer-Tech Services,Elec-Misc Products,Elec-Semicondctor Fablss,Elec-Semiconductor Mfg,Internet-Content,Oil&Gas-Field Services,Oil&Gas-Integrated,Oil&Gas-Intl Expl&Prod,Oil&Gas-U S Expl&Prod,Telecom Svcs- Foreign,Telecom Svcs-Cable/Satl,Telecom Svcs-Integrated,Telecom Svcs-Wireless
Sector,,,,,,,,,,,,,,,,,,
Energy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,55.0,10.0,1.0,NaN,NaN,NaN,NaN
Technology,3.0,5.0,7.0,3.0,4.0,4.0,10.0,1.0,7.0,7.0,NaN,NaN,NaN,NaN,9.0,3.0,23.0,3.0

In [126]:
100 * grouped['Industry Group'].value_counts(normalize=True).unstack()

Industry Group,Computer Sftwr-Database,Computer Sftwr-Desktop,Computer Sftwr-Enterprse,Computer-Hardware/Perip,Computer-Networking,Computer-Tech Services,Elec-Misc Products,Elec-Semicondctor Fablss,Elec-Semiconductor Mfg,Internet-Content,Oil&Gas-Field Services,Oil&Gas-Integrated,Oil&Gas-Intl Expl&Prod,Oil&Gas-U S Expl&Prod,Telecom Svcs- Foreign,Telecom Svcs-Cable/Satl,Telecom Svcs-Integrated,Telecom Svcs-Wireless
Sector,,,,,,,,,,,,,,,,,,
Energy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,73.333333,13.333333,1.333333,NaN,NaN,NaN,NaN
Technology,3.370787,5.617978,7.865169,3.370787,4.494382,4.494382,11.235955,1.123596,7.865169,7.865169,NaN,NaN,NaN,NaN,10.11236,3.370787,25.842697,3.370787

#### DistanceFromHome

In [127]:
grouped['Trading Country'].describe().unstack()

        Sector
count   Energy             75
        Technology         89
unique  Energy             15
        Technology         15
top     Energy        GERMANY
        Technology    GERMANY
freq    Energy             38
        Technology         45
dtype: object

#### HourlyRate

In [128]:
grouped['P/E Ratio'].describe().unstack()

       Sector
count  Energy        73.000000
       Technology    88.000000
mean   Energy        10.671233
       Technology    19.068182
std    Energy         4.160178
       Technology    11.357104
min    Energy         2.000000
       Technology     6.000000
25%    Energy         8.000000
       Technology    13.000000
50%    Energy        11.000000
       Technology    16.000000
75%    Energy        13.000000
       Technology    23.000000
max    Energy        20.000000
       Technology    79.000000
dtype: float64

#### MonthlyIncome

In [129]:
grouped['Mkt Val (Mil), USD'].describe().unstack()

       Sector
count  Energy            75.000000
       Technology        89.000000
mean   Energy        133881.000000
       Technology    159120.764045
std    Energy         77034.198447
       Technology     90756.277287
min    Energy         75310.000000
       Technology     75071.000000
25%    Energy         83318.000000
       Technology    101794.000000
50%    Energy        114821.000000
       Technology    125007.000000
75%    Energy        145074.000000
       Technology    188273.000000
max    Energy        435010.000000
       Technology    497751.000000
dtype: float64

#### YearsAtCompany

In [130]:
grouped['Avg Dly $ Vol (000)'].describe().unstack()

       Sector
count  Energy        7.500000e+01
       Technology    8.900000e+01
mean   Energy        1.802039e+05
       Technology    4.982875e+06
std    Energy        7.297668e+05
       Technology    3.378520e+07
min    Energy        0.000000e+00
       Technology    0.000000e+00
25%    Energy        1.650000e+01
       Technology    3.200000e+01
50%    Energy        3.500000e+02
       Technology    3.960000e+02
75%    Energy        8.587950e+04
       Technology    1.453120e+05
max    Energy        5.990811e+06
       Technology    2.975491e+08
dtype: float64

### Comparing the means across all numerical variables

Although we we asked for just some specific columns, to give the HR director a better picture of how these groups compare across different variables, let's create a DataFrame that contains the mean for every numeric variable in our dataset.

In [ ]:
# Getting the numerical columns
numeric_cols = subset_of_interest.select_dtypes(include=[np.number]).columns

In [ ]:
# Creating an empty DataFrame
mean_comparison_df = pd.DataFrame(columns=numeric_cols, index=['Low', 'Very High'])
mean_comparison_df

In [ ]:
grouped['Age'].mean()

In [ ]:
# Filling the DataFrame
for var in numeric_cols:
    mean_comparison_df[var] = grouped[var].mean()

In [ ]:
mean_comparison_df

In [ ]:
mean_comparison_df = mean_comparison_df.transpose()
mean_comparison_df

### Let's do a visualization

In [ ]:
mean_comparison_df.plot(kind='bar', figsize=(13,4),
                                   title="Comparison of Means");

In [ ]:
overal_means = data.mean()
normalized_mean_comparison_df = mean_comparison_df.copy()

In [ ]:
overal_means = data.mean()
normalized_mean_comparison_df['Low'] = mean_comparison_df['Low'] / overal_means
normalized_mean_comparison_df['Very High'] = mean_comparison_df['Very High'] / overal_means

In [ ]:
normalized_mean_comparison_df.plot(kind='bar', figsize=(13,4),
                                   title="Comparison of Normalized Means")
plt.legend(loc='lower left', bbox_to_anchor=(0.16, 1.0))
plt.text(x=-0.2, y = 1.2, s="JobSatisfaction:", fontdict={'size':14});